form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block; /* Adiciona esta linha */
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    display: block; /* Adiciona esta linha */
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  